.box {
  border: 2px solid black;
}
.loggedIn {
  background-color: green;
  color: white;
}

.loggedOut {
  background-color: red;
  color: white;
}

.bg-color-pink {
  background-color: lightpink;
}

.bg-color-sky {
  background-color: lightblue;
}

.margin-8px {
  margin: 8px;
}
